.emoji-keyboard-visible-true {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.emoji-keyboard-visible-false {
  visibility: collapse;
}

.emoji-icon {
  width: 40px;
  height: 40px;
}

.emoji-see-no-evil-monkey {
  background-image: url('./../icons/emojis/see-no-evil-monkey.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-hear-no-evil-monkey {
  background-image: url('./../icons/emojis/hear-no-evil-monkey.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-speak-no-evil-monkey {
  background-image: url('./../icons/emojis/speak-no-evil-monkey.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-ophiuchus {
  background-image: url('./../icons/emojis/ophiuchus.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-volcano {
  background-image: url('./../icons/emojis/volcano.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-fountain {
  background-image: url('./../icons/emojis/fountain.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-sleeping-symbol {
  background-image: url('./../icons/emojis/sleeping-symbol.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-anger-symbol {
  background-image: url('./../icons/emojis/anger-symbol.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-heavy-check-mark {
  background-image: url('./../icons/emojis/heavy-check-mark.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-cross-mark {
  background-image: url('./../icons/emojis/cross-mark.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-exclamation-question-mark {
  background-image: url('./../icons/emojis/exclamation-question-mark.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.emoji-banknote-with-dollar-sign {
  background-image: url('./../icons/emojis/banknote-with-dollar-sign.png?sprite=emoji-keyboard');
  background-repeat: no-repeat;
  background-size: 40px 40px;
}
