
div.message-top-area {
    font: 12pt bold;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #0000ff;
    width: 100%;
    height: calc(100% - 6px);
    margin-top: 2px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}

p.message-top-name {
    color: white;
    margin-left: 4px;
}

button.chat-deactivation {
    background-color: #0000ff;
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 60px;
    font-size: 16pt;
}
