div.message-central-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div.wrap-history {
  /* necessary for scrolling */
  height: 60%; /* note: see about auto-scroll in MessageHistory.append() */
  min-height: 0;
  overflow: auto;
  scroll-behavior: smooth;
}

.message-form-head {
  /* note: find a way to actually attach it to the top */
  vertical-align: top;
  width: 100%;
  height: 15%;
}

.message-history {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}

div.message-history-list {
  font-size: 12pt;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
