div.peer-chat-div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  background-color: rgba(0, 0, 255, 1);
}

.peer-chat-li {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2px;
}
